@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,700);
body {
  margin: 0;
  color: #222;
  font-family: 'Source Sans Pro';
}
.centered {
  width: 600px;
  margin: 0 auto;
}
.cftr-icon {
  position: fixed;
  top: 20px;
  left: calc(100vw / 2 - 425px);
  /*
  The 420px above is gotten from:
   +300px: half of body width, gets us to the page's center.
   +100px: width of icon, gets us to the left of the content.
   +25px: icon margin, gets us 25px padding to the left of the content.
  */
}
a {
  text-decoration: none;
  color: #57f;
}
a:hover {
  text-decoration: underline;
}
.copyright a {
  color: inherit;
  text-decoration: underline;
}
.copyright a:hover {
  color: #777;
}
.copyright {
  color: #444;
  background-color: #eee;
  width: 100%;
  margin-top: 13px;
  padding: 20px 0;
  font-size: 0.9em;
}
@media screen and (max-width: 640px) {
  /*
  The 640px above is gotten from:
   +600px: The width of the content otherwise.
   +40px: Padding on the content.
  */
  .centered {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 900px) {
  .cftr-icon {
    position: static;
    margin: 5px 0;
  }
}
